#container,
body,
html {
    margin: 0;
    height: 100%;
    background-color: aliceblue;
}
a:hover{
    color: black;
}
ul li a:hover{
    color: black;
}
a:link, a:active, a:visited {
    text-decoration: none;
}
#titulo:hover {
    color: black;
}
#rangers{
    margin: 0;
    display: block;
    padding-left: 10px;
}
header{
    background-color: #0A61E7;
    height: 80px;
    list-style: none;
    margin: 0;
}
#logo{
    float: left;
    align-items: baseline;
    border-radius: 60%;
}
#titulo{
    color: white;
    padding-left: 10px ;
    padding-bottom: 50px;
    float: left;
    text-decoration: none;
}
ul{
    margin: 0;
    float: right;
    display: block;
    padding-right: 30px;
    list-style-type: none;
    position: inherit;;
}
ul li{
    float: left;
    margin-right: 20px;
}
ul li a {
    color: white;
    font-size: 150%;
    text-decoration: underline;

}
/* fim do header */
body div#parallax{
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;;
    height: 90%;
    zoom: 55%;
    background-image: url(img/bandeira.jpg);
}
#title1{
    text-align: center;
    font: Sans-serif;
    font-size: xx-large;
    color: black;

}