#container{
    width: 100%;
    margin: 0 ;
}
a:hover{
    text-decoration: underline;
}
a:link, a:active, a:visited {
    text-decoration: none;
}
#titulo:hover {
    text-decoration: underline;
}
#rangers{
    margin: 0;
    display: block;
    padding-left: 10px;
}
header{
    background-color: #0A61E7;
    height: 80px;
    list-style: none;
    margin: 0;
}
#logo{
    float: left;
    align-items: baseline;
    border-radius: 60%;
}
#titulo{
    color: black;
    padding-left: 10px ;
    padding-bottom: 50px;
    float: left;
    text-decoration: none;
}
ul{
    float: right;
    display: block;
    list-style-type: none;
}
ul li {
    float: left;
    margin-right: 10px;
}
ul li a {
    color: black;

}